 
  <ion-toolbar class="header">
    <ion-title class="titulo">Configuraciones de la app</ion-title>
      <!--icono de retorno-->
      <ion-buttons slot="start" class="flecha">
        <ion-back-button defaultHref=""></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
 
<ion-content >
  <!--Lista
  lines="inset" <- para agragar línea debajo
  detail="true" <- para agragar el icono > -->
  <ion-list lines="none" class="content">
    <ion-item detail="true" class="item" >
      <ion-label class="txt">Etiquetas</ion-label>
    </ion-item>
    <ion-item detail="true" class="item" >
      <ion-label class="txt">Bases de datos</ion-label>
    </ion-item>
    <ion-item lines="inset" detail="true" >
      <ion-label  class="item_line">Personalizar formularios</ion-label>
    </ion-item>
    <ion-item detail="true" class="item">
      <ion-label class="txt">Tarjetas archivadas</ion-label> <p>3</p>
    </ion-item>
    <ion-item lines="inset" detail="true" >
      <ion-label  class="item_line" >Comentarios resueltos</ion-label> <p>12</p>
    </ion-item>
    <ion-item detail="true" class="item">
      <ion-label class="txt" >Conectar apps</ion-label> <p>Administradores</p>
    </ion-item>
    <ion-item detail="true" class="item">
      <ion-label class="txt" >Añadir miembros</ion-label> <p>Varios</p>
    </ion-item>
    <ion-item detail="true" class="item">
      <ion-label class="txt" >Comentar</ion-label> <p>Todos</p>
    </ion-item>
    <ion-item detail="true" class="item">
      <ion-label class="txt" >Correo electrónico</ion-label>
    </ion-item>
    <ion-item detail="true" class="item">
      <ion-label class="txt" >Plantillas de correoo</ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
